<button (click)="getCars()" class="btn btn-primary m-3">Load Cars</button>
<div class="container m-3 col-md-4 text-center">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Sr. No</th>
        <th>Brand</th>
        <th>Model</th>
      </tr>
    </thead>

    <tbody>
      @for (car of cars; track $index) {
      <tr>
        <td>{{ $index + 1 }}</td>
        <td>{{ car.brand }}</td>
        <td>{{ car.model }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
