<h2>Movie Details</h2>
<p><strong>Title:</strong> {{ movie?.title }}</p>
<p><strong>Category:</strong> {{ category }}</p>
<button (click)="onHome()" class="btn btn-warning">Back to home</button>
<br />
<button (click)="onReviews()" class="btn btn-primary">See reviews</button>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h3 id="reviews">Movie reviews</h3>
<p>Very good movie!</p>
