<div class="row">
  <div class="col-3 p-4" [ngStyle]="{'background-color': divBgColor, 'color': 'pink'}">
    Div-1
  </div>
  <div class="col-3 p-4" [ngStyle]="{'background-color':isChecked===true?'blue':'pink'}">
    Div-2
  </div>

  <div class="col-3 p-4" [ngStyle]="myCSS">
    Div-2
  </div>
</div>

<div class="row pt-4">
  <div class="col-3">
    <button class="btn btn-success" (click)="onBtnClick('green')">Green</button>
    <button class="btn btn-danger" (click)="onBtnClick('red')">Red</button>
  </div>

  <div class="col-3">
    <input type="checkbox" [(ngModel)]="isChecked">
  </div>
</div>
